header {
	margin: auto;
	padding: 20px;
	background-color: #026690;
	display: block;
}

header img {
	margin: auto;
	border-radius: 100px;
	border: solid 4px white;
}

header h1 {
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: sans-serif;
}

body li {
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-family: sans-serif;
	display: inline;
	padding: 20px;
	margin-right: 20px;
	margin-left: 20px;
}